html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: whitesmoke;
  word-break: break-word;
  font-family: 'Montserrat', sans-serif;
}