.buttons {
    border: none;
    color: hsl(180, 100%, 25%);
    background: transparent;
    padding: 20px;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .buttons {
        padding: 10px;
    }
}

@media (max-width: 767px) {
    .buttons--centred {
        display: grid;
    }
}

.buttons:hover {
    color: hsl(180, 100%, 40%);
    cursor: pointer;
}

.buttons:disabled {
    color: grey;
    cursor: auto;
}